{{ define "_head" }}
<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1" />
<meta
  http-equiv="X-UA-Compatible"
  content="IE=edge" />
<meta
  name="description"
  content="{{ .document.meta.description }}" />
<meta
  name="keywords"
  content="{{ .document.meta.keywords }}" />
<meta
  name="author"
  content="Pemerintah Kota Cirebon" />
<meta
  name="robots"
  content="index, follow" />
<meta
  name="theme-color"
  content="#ffffff" />
<meta
  name="referrer"
  content="no-referrer-when-downgrade" />
<link
  rel="icon"
  href="/favicon.ico" />
<title>{{ .document.title }}</title>
{{ end }}
