{{ define "_navbar" }}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button
      data-mdb-collapse-init
      class="navbar-toggler"
      type="button"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <a
      class="navbar-brand mt-2 mt-lg-0"
      href="/">
      <img
        src="/static/placeholder.png"
        height="24"
        alt="DKIS Cirebon"
        loading="lazy" />
      DKIS Cirebon
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link{{if eq .document.page "index"}} active{{end}}"
            {{if eq .document.page "index"}}aria-current="page"{{end}}
            href="/">
            Beranda
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link{{if eq .document.page "report"}} active{{end}}"
            {{if eq .document.page "report"}}aria-current="page"{{end}}
            href="/report">
            Laporan
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link{{if eq .document.page "admin"}} active{{end}}"
            {{if eq .document.page "admin"}}aria-current="page"{{end}}
            href="/admin">
            Admin
          </a>
        </li>
      </ul>
      <div class="ms-auto">
        <a
          href="/login"
          class="btn btn-outline-primary btn-sm d-flex align-items-center">
          <i class="fas fa-user me-2"></i>
          Masuk
        </a>
      </div>
    </div>
  </div>
</nav>
{{ end }}
