{{ define "index"}}
<!DOCTYPE html>
<html lang="id">
  <head>
    {{ template "_head" . }}
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin="" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous" />
  </head>
  <body>
    {{ template "_navbar" . }}

    <article class="container">
      <h1>Peta Persebaran Stunting</h1>
      <div
        id="map"
        class="w-100 rounded shadow-sm my-4"
        style="height: 500px"></div>

      <section class="row">
        <div class="col-md">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit atque ipsa enim eum modi
            deleniti, laboriosam nam ex officia debitis ea molestiae esse repellendus. Sit nesciunt
            repellat reiciendis! Sed unde dolore qui natus odit possimus explicabo. Aliquam debitis
            minus nobis, ipsa in aliquid nihil, hic, accusantium earum cum omnis id?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit atque ipsa enim eum modi
            deleniti, laboriosam nam ex officia debitis ea molestiae esse repellendus. Sit nesciunt
            repellat reiciendis! Sed unde dolore qui natus odit possimus explicabo. Aliquam debitis
            minus nobis, ipsa in aliquid nihil, hic, accusantium earum cum omnis id?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit atque ipsa enim eum modi
            deleniti, laboriosam nam ex officia debitis ea molestiae esse repellendus. Sit nesciunt
            repellat reiciendis! Sed unde dolore qui natus odit possimus explicabo. Aliquam debitis
            minus nobis, ipsa in aliquid nihil, hic, accusantium earum cum omnis id?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit atque ipsa enim eum modi
            deleniti, laboriosam nam ex officia debitis ea molestiae esse repellendus. Sit nesciunt
            repellat reiciendis! Sed unde dolore qui natus odit possimus explicabo. Aliquam debitis
            minus nobis, ipsa in aliquid nihil, hic, accusantium earum cum omnis id?
          </p>
        </div>
        <div class="col-md">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit atque ipsa enim eum modi
            deleniti, laboriosam nam ex officia debitis ea molestiae esse repellendus. Sit nesciunt
            repellat reiciendis! Sed unde dolore qui natus odit possimus explicabo. Aliquam debitis
            minus nobis, ipsa in aliquid nihil, hic, accusantium earum cum omnis id?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit atque ipsa enim eum modi
            deleniti, laboriosam nam ex officia debitis ea molestiae esse repellendus. Sit nesciunt
            repellat reiciendis! Sed unde dolore qui natus odit possimus explicabo. Aliquam debitis
            minus nobis, ipsa in aliquid nihil, hic, accusantium earum cum omnis id?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit atque ipsa enim eum modi
            deleniti, laboriosam nam ex officia debitis ea molestiae esse repellendus. Sit nesciunt
            repellat reiciendis! Sed unde dolore qui natus odit possimus explicabo. Aliquam debitis
            minus nobis, ipsa in aliquid nihil, hic, accusantium earum cum omnis id?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit atque ipsa enim eum modi
            deleniti, laboriosam nam ex officia debitis ea molestiae esse repellendus. Sit nesciunt
            repellat reiciendis! Sed unde dolore qui natus odit possimus explicabo. Aliquam debitis
            minus nobis, ipsa in aliquid nihil, hic, accusantium earum cum omnis id?
          </p>
        </div>
        <div class="col-md">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit atque ipsa enim eum modi
            deleniti, laboriosam nam ex officia debitis ea molestiae esse repellendus. Sit nesciunt
            repellat reiciendis! Sed unde dolore qui natus odit possimus explicabo. Aliquam debitis
            minus nobis, ipsa in aliquid nihil, hic, accusantium earum cum omnis id?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit atque ipsa enim eum modi
            deleniti, laboriosam nam ex officia debitis ea molestiae esse repellendus. Sit nesciunt
            repellat reiciendis! Sed unde dolore qui natus odit possimus explicabo. Aliquam debitis
            minus nobis, ipsa in aliquid nihil, hic, accusantium earum cum omnis id?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit atque ipsa enim eum modi
            deleniti, laboriosam nam ex officia debitis ea molestiae esse repellendus. Sit nesciunt
            repellat reiciendis! Sed unde dolore qui natus odit possimus explicabo. Aliquam debitis
            minus nobis, ipsa in aliquid nihil, hic, accusantium earum cum omnis id?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit atque ipsa enim eum modi
            deleniti, laboriosam nam ex officia debitis ea molestiae esse repellendus. Sit nesciunt
            repellat reiciendis! Sed unde dolore qui natus odit possimus explicabo. Aliquam debitis
            minus nobis, ipsa in aliquid nihil, hic, accusantium earum cum omnis id?
          </p>
        </div>
      </section>
    </article>

    {{ template "_footer" }}
    
    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"></script>
    <script type="module" src="static/leaflet.js"></script>
  </body>
</html>
{{ end }}
