{{ define "index"}}
<!DOCTYPE html>
<html lang="id">
  <head>
    {{ template "_head" . }}
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin="" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/9.1.0/mdb.min.css"
      rel="stylesheet" />
  </head>
  <body>
    {{ template "_navbar" . }}

    <article class="container">
      <h1>Peta Persebaran Stunting</h1>
      <div
        id="map"
        class="w-100 rounded shadow-sm my-4"
        style="height: 500px"></div>
    </article>

    {{ template "_footer" }}

    <script
      src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin=""></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/9.1.0/mdb.umd.min.js"></script>
    <script
      type="module"
      src="static/index.js"></script>
  </body>
</html>
{{ end }}
