{{ define "_addSuffererContent" }}
<div>
  <h2>Tambah Penderita</h2>
  <section class="row">
    <div
      id="map"
      class="w-100 col-md rounded shadow-sm m-2"
      style="height: 500px"></div>
    <div class="col-md-4">Lorem ipsum dolor sit amet.</div>
  </section>
  <div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum aliquid maxime cum eos fugit
    nihil veritatis sunt ut. Vitae consequatur mollitia vel. A beatae quibusdam, quis tempora aut
    consectetur perspiciatis quia, consequuntur facere veniam maiores! Sunt ducimus quis rerum
    commodi dolores soluta excepturi. Expedita blanditiis tempora aut ab repudiandae inventore in.
  </div>
</div>
{{ end }}
